* {
    font-family: "DaddyTimeMono Nerd Font";
    font-size: 15px;
    min-height: 15px;
}

#window {
    padding-left: 10px;
    padding-right: 10px;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    color: white;
}

#workspaces {
	background-color: transparent;
}

#workspaces button label {
	color: rgb(180, 190, 254);
}

#workspaces button.active label {
	color: rgba(30, 30, 46, 0.6);
	font-weight: bolder;
}

#workspaces button {
	box-shadow: rgba(17, 17, 27, 0.2);
	background-color: rgba(30, 30, 46, 0.6);
	transition: all 0.3s ease;
}

#workspaces button.active {
	box-shadow: rgba(0, 0, 0, 0.288);
	background-color: rgb(203, 166, 247);
	transition: all 0.3s ease;
	background-size: 300% 300%;
	animation: colored-gradient 10s ease infinite;
}

#clock, #battery, #memory, #network, #pulseaudio, #language, #backlight {
    padding: 0 10px;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

#memory {
	background: #64667D;
}

#backlight {
	background: #504d61;
}

#network {
    color: white;
	background: #4d5861;
}

#pulseaudio {
    color: black;
	background: #99a5ae;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
