* {
    all: unset;
    font-family: "DaddyTimeMono Nerd Font";
    min-width: 36px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

tooltip {
    background-color: #122114;
}

window#waybar {
    color: #d6f5f0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

/* ------------------------------ Hyprland ------------------------------ */
#workspaces {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#workspaces button {
    border: solid 1px #d6f5f0;
    border-radius: 2px;
    margin-top: 5px;
}
#workspaces button label {
    color: #d6f5f0;
    font-size: 14px;
    font-weight: bold;
}
#workspaces button.active {
    background-color: #d6f5f0;
}
#workspaces button.active label {
    color: #233c2a;
}
#language {
    margin: 8px 0 0 0;
    font-weight: bold;
}

/* ------------------------------ Clock ------------------------------ */
#clock {
    background-color: #122114;
    border: 1px solid alpha(#d6f5f0, 0.4);
    border-radius: 2px;
    padding: 4px 0 4px 0;
    margin: 5px;
}

/* ------------------------------ System ------------------------------ */
#battery, #memory, #network, #pulseaudio, #language, #backlight {
    padding-bottom: 6px;
}
#battery.warning {
    color: #ffe599;
}
#battery.critical {
    color: red;
    animation: blinker 1.5s linear infinite;
}
#tray {
    padding: 5px;
    margin-right: 3px;
}

/*
#workspaces > button.empty {
    border-color: alpha(#d6f5f0, 0);
}
#workspaces > button.empty > label {
    color: alpha(#d6f5f0, 0.4);
}
*/
/*
#workspaces button {
    border: solid 1px #d6f5f0;
    border-radius: 2px;
	transition: all 0.3s ease;
}

#workspaces button label {
	color: rgb(180, 190, 254);
}

#workspaces button.active {
	box-shadow: rgba(0, 0, 0, 0.288);
	background-color: rgb(203, 166, 247);
	background-size: 300% 300%;
	animation: colored-gradient 10s ease infinite;
	transition: all 0.3s ease;
}

#workspaces button.active label {
	color: rgba(30, 30, 46, 0.6);
	font-weight: bolder;
}
*/
